<div class="container">
  <div class="row">
      <div class="col-xs-10 col-xs-offset-1 initial-position">
        {{header-navbar}}

        {{liquid-outlet}}

        {{site-footer}}
      </div>
  </div>
</div>

<div id="border-t" class="site-border"></div>
<div id="border-r" class="site-border"></div>
<div id="border-b" class="site-border"></div>
<div id="border-l" class="site-border"></div>