<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      {{#link-to "index"}}<img src="me.jpg"  class="navbar-image"/>{{/link-to}}
  </div>
  <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li>{{#link-to "index"}}Home{{/link-to}}</li>
          <li>{{#link-to "projects"}}Projects{{/link-to}}</li>
          <li>{{#link-to "resume"}}Resumé{{/link-to}}</li>
          <li><a href="#" {{action "emailMe"}} title="philip&#112;o&#118;e&#103;&#111;&#114;&#64;&#103;&#109;&#97;il&#46;c&#111;m">Contact</a></li>
      </ul>
  </div>
</nav>