<ul class="list-unstyled list-inline text-right">
  <li>
    <p id="find-me-on-label">- Find me on</p>
  </li>
  <li>
    <a href="https://github.com/lone-cloud" target="_blank">{{fa-icon "github" size=2}}</a>
  </li>
  <li>
    <a href="https://ca.linkedin.com/in/egor-philippov-1482207b" target="_blank">{{fa-icon "linkedin" size=2}}</a>
  </li>
</ul>