<ul class="list-unstyled list-inline text-right">
  <li>
    <p id="find-me-on-label">- Find me on</p>
  </li>
  <li>
    <a href="https://www.instagram.com/lifeofegor/" target="_blank" title="Instagram">{{fa-icon "instagram" size=2}}</a>
  </li>
  <li>
    <a href="https://github.com/hoboman313" target="_blank" title="GitHub">{{fa-icon "github" size=2}}</a>
  </li>
  <li>
    <a href="https://ca.linkedin.com/in/egor-philippov-1482207b" target="_blank" title="Linkedin">{{fa-icon "linkedin-workaround" size=2}}</a>
  </li>
</ul>