<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <ul class="list-unstyled list-inline text-right">
                <li>
                    <a href="https://github.com/hoboman313" title="GitHub">{{fa-icon icon="fa-github"}}</a>
                </li>
                <li>
                    <a href="https://ca.linkedin.com/in/egor-philippov-1482207b" title="LinkedIn">{{fa-icon icon="fa-linkedin"}}</a>
                </li>
            </ul>
        </div>

    </div>
</div>