@import 'bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'bower_components/font-awesome/scss/font-awesome';

$footerHeight: 60px;
$primaryTextColor: #838b91;

// style largely based on http://www.thenerodesign.com/ from awwwards

html {
  min-height: 100%;
  height: auto;
  padding: 30px;
  position: relative;
}

body {
  margin-bottom: $footerHeight + 20px;
  position: static;
  background: #141516;
  color: $primaryTextColor;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  h3 {
    a {
      text-decoration: underline;
    }
  }
}

// response font sizes
@media (max-width: $screen-sm-max) {
  body h3{font-size: 20px;}
  #projects-page{font-size: 14px !important;}
}
@media (max-width: $screen-xs-max) {
  body h3{font-size: 16px;}
  #projects-page{font-size: 12px !important;}
}

.navbar-default {
  background: inherit;
  border: none;
  margin-top: 30px;
  .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: inherit;
    background: none;
  }
  .navbar-nav {
    margin-right: 20px;
    margin-bottom: 50px;
    li a {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    li a.active {
      cursor: default;
    }
    li:nth-child(1) a.active{
      color: #448CCC !important;
    }
    li:nth-child(2) a.active{
      color: #7ECC44 !important;
    }
    li:nth-child(3) a.active{
      color: #A444CC !important;
    }
    li:nth-child(1) a:hover{
      color: #448CCC !important;
    }
    li:nth-child(2) a:hover{
      color: #7ECC44 !important;
    }
    li:nth-child(3) a:hover{
      color: #A444CC !important;
    }
    li:nth-child(4) a:hover{
      color: #EDFF5B !important;
    }
  }
  .navbar-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    top:-35px;
    border: solid 2px white;
    transition-duration: 0.3s;
  }
  .navbar-image:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  a {
    color: white !important;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    margin-right: 15px;
    font-size: 16px;
    text-align: center;
  }
  // http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
  .navbar-nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  li a.active:before {
    visibility: hidden !important;
  }
  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.initial-position {
  position: inherit;
}

.white {
  color: white !important;
  text-transform: capitalize;
}

#hello {
  font-size: 18px;
  color: white !important;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
}

.devicons {
  font-size: 40px;
  margin-right: 5px;
}

#projects-page {
  font-size: 16px;
  .project-title {
    margin-bottom: 10px;
    text-align: center;
  }
  a {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: darken(white, 15%);
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .row {
    border-top: 1px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    div:first-child a {
      text-decoration: underline;
    }
  }
  .row:last-of-type {
    border-bottom: 1px solid white;
  }
  .row:hover {
    color: #373737;
    a {
      color: lighten(black, 20%) !important;
    }
    a:hover {
      color: black !important;
    }
  }
  .row:nth-of-type(1):hover {
    background: rgb(124, 156, 228);
  }
  .row:nth-of-type(2):hover {
    background: rgb(111, 228, 128);
  }
  .row:nth-of-type(3):hover {
    background: rgb(228, 227, 138);
  }
  .row:nth-of-type(4):hover {
    background: rgb(228, 170, 220);
  }
  .row:nth-of-type(5):hover {
    background: rgb(119, 228, 225);
  }
  .row:nth-of-type(6):hover {
    background: rgb(187, 174, 228);
  }
}

.vcenter {
  display: flex;
  align-items: center;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  ul {
    margin-right: 10%;
    li:nth-child(2) a:hover {
      color: #64CAC5
    }
    li:nth-child(3) a:hover {
      color: #DAAD75;
    }
    li:nth-child(4) a:hover {
      color: #da8767;
    }
    li {
      margin-right: 10px;
      a {
        color: $primaryTextColor;

      }
      a:hover{
        color: lighten($primaryTextColor, 30%);
      }

    }
  }
  #findMeOnLabel {
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    position: relative;
    bottom: 10px;
  }
}

.fa-linkedin-workaround:before {
  content: $fa-var-linkedin;
}

.site-border {
  position: absolute;
  background: #202122;
}

#resume-frame {
  height: 70vh;
}

#border-t {
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#border-r {
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
}

#border-b {
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#border-l {
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
}
