@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'font-awesome';

$footerHeight: 60px;
$primaryTextColor: #838b91;

@import 'font-awesome';
@import 'projects';
@import 'navbar';
@import 'footer';

// style largely based on http://www.thenerodesign.com/ from awwwards

html {
  min-height: 100%;
  height: auto;
  padding: 5%;
  padding-top: 30px;
  position: relative;
}

body {
  margin-bottom: $footerHeight + 20px;
  position: static;
  background: #141516;
  color: $primaryTextColor;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  h3 {
    a {
      text-decoration: underline;
    }
  }
}

// response font sizes
@media (max-width: $screen-sm-max) {
  body h3{font-size: 20px;}
  #projects-page{font-size: 14px !important;}
}
@media (max-width: $screen-xs-max) {
  body h3{font-size: 16px;}
  #projects-page{font-size: 12px !important;}
}

.initial-position {
  position: inherit;
}

.white {
  color: white !important;
  text-transform: capitalize;
}

#hello {
  font-size: 18px;
  color: white !important;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
}

.devicons {
  font-size: 40px;
  margin-right: 5px;
}

.vcenter {
  display: flex;
  align-items: center;
}

.fa-linkedin-workaround:before {
  content: $fa-var-linkedin;
}

.site-border {
  position: absolute;
  background: #202122;
}

#resume-frame {
  height: 70vh;
}

#border-t {
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#border-r {
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
}

#border-b {
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
}

#border-l {
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
}

.success-sent {
  font-size: 2em;
}