.navbar-default {
  background: inherit;
  border: none;
  margin-top: 4 * $padding;
  .navbar-nav > .active > a,
  .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: inherit;
    background: none;
  }
  .navbar-nav {
    li a {
      transition: all 0.3s ease-in-out;
    }
    li a.active {
      cursor: default;
    }
    li:nth-child(1) {
      a.active,
      a:hover {
        color: #448ccc !important;
      }
    }
    li:nth-child(2) {
      a.active,
      a:hover {
        color: #7ecc44 !important;
      }
    }
    li:nth-child(3) {
      a.active,
      a:hover {
        color: #a444cc !important;
      }
    }
    li:nth-child(4) {
      a.active,
      a:hover {
        color: #f1ed2f !important;
      }
    }
  }
  .navbar-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    position: relative;
    top: -35px;
    border: solid 2px white;
    transition-duration: 0.3s;
  }
  .navbar-image:hover {
    transform: scale(1.05);
  }
  a {
    color: white !important;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    margin: 0 15px;
    font-size: 16px;
    text-align: center;
  }
  // http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
  .navbar-nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  li a.active:before {
    visibility: hidden !important;
  }
  a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.navbar-toggle {
  margin-right: 0;
  &:focus,
  &:hover {
    background-color: lighten(black, 15%) !important;
  }
}
