#projects-page {
  font-size: 16px;

  .project-title {
    font-size: 18px;
  }

  .project-desc {
    margin-bottom: $padding;
    text-align: center;
  }

  a {
    transition: all 0.3s ease-in-out;
    color: darken(white, 15%);
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .highlighted-row {
    border-top: 1px solid white;
    padding: 2 * $padding;
    transition: all 0.3s ease-in-out;

    .project-screens {
      display: flex;
      justify-content: space-around;
      margin-top: $padding;
      margin-left: -15px;
      margin-right: -15px;

      img {
        width: 20vw;
        min-width: 175px;
      }
    }

    .chrome-store-icon img {
      width: 120px;
    }

    .play-store-icon img {
      width: 140px;
    }

    .app-store-icon img {
      width: 120px;
    }

    &:last-of-type {
      border-bottom: 1px solid white;
    }

    &:hover {
      color: #373737;

      a {
        color: lighten(black, 20%) !important;

        &:hover {
          color: black !important;
        }
      }
    }

    &:nth-of-type(1):hover {
      background: rgb(124, 156, 228);
    }
    &:nth-of-type(2):hover {
      background: rgb(111, 228, 128);
    }
    &:nth-of-type(3):hover {
      background: rgb(228, 227, 138);
    }
    &:nth-of-type(4):hover {
      background: rgb(228, 170, 220);
    }
    &:nth-of-type(5):hover {
      background: rgb(119, 228, 225);
    }
    &:nth-of-type(6):hover {
      background: rgb(187, 174, 228);
    }
  }
}

@media (max-width: $screen-xs-max) {
  #projects-page .highlighted-row {
    .store-badges {
      flex-direction: column;

      .chrome-store-icon {
        display: block;
        padding-left: $padding;
      }

      .app-store-icon {
        padding-left: 0.7rem;
      }
    }

    .project-screens {
      flex-direction: column;

      div {
        text-align: center;
      }

      img {
        margin-top: $padding/2;
        min-width: 250px;
      }
    }
  }
}
