<p id="hello">
  - Hello
</p>

<h3>
  Is it me you're looking for?
  My name is
  <span class="white">Egor Philippov</span> and I'm a passionate
  <span class="white">Full Stack Software Engineer</span>.
  I am comfortable working on the server, browser or mobile.
  You may have heard of me from
  <a href="https://www.tomati.io" class="white" target="_blank">Tomati</a>
  or
  <a href="http://www.huegasm.com" class="white" target="_blank">Huegasm</a>.
</h3>

<h3>
  I am always looking for exciting new opportunities (✔️ remote ❌ recruiters/agencies).<br>
  Feel free to {{#link-to "contact" class="white"}}contact me{{/link-to}}.
</h3>