<div class="container" id="projects-page">
    <div class="row vcenter">
        <div class="col-xs-2 hidden-xs">
            <a href="http://www.tomati.io/" target="_blank">Tomati</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="http://www.tomati.io/" class="visible-xs project-title" target="_blank">Tomati</a>
            An upcoming web app for restaurant review aggregation with an emphasis on publicly available health inspection reports.
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="http://aws.amazon.com/" target="_blank"><span class="devicons devicons-aws" title="AWS"></span></a>
            <a href="https://github.com/hoboman313/TomatiMobile" target="_blank"><span class="devicons devicons-react" title="React Native Client"></span></a>
            <a href="http://getbootstrap.com/" target="_blank"><span class="devicons devicons-nodejs" title="Node.js"></span></a>
        </div>
    </div>

    <div class="row vcenter">
        <div class="col-xs-2 hidden-xs">
            <a href="http://www.huegasm.com/" target="_blank">Huegasm</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="http://www.huegasm.com/" class="visible-xs project-title" target="_blank">Huegasm</a>
            A web app for managing and synchronizing your music with your Philips Hue lights. - <a href="https://github.com/hoboman313/huegasm" target="_blank">Source</a>
            <br>
            Android version up on the Play Store <a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank" rel="noopener noreferrer">Here</a>
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="http://getbootstrap.com/" target="_blank"><span class="devicons devicons-bootstrap" title="Bootstrap"></span></a>
            <a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank"><span class="devicons devicons-android" title="Huegasm on the PlayStore"></span></a>
            <a href="https://github.com/hoboman313/huegasm" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>

    <div class="row vcenter">
        <div class="col-xs-2 hidden-xs">
            <a href="https://hoboman313.github.io/snakey" target="_blank">Snakey</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="https://hoboman313.github.io/snakey" class="visible-xs project-title" target="_blank">Snakey</a>
            A pure HTML/Javascript recreation of the old school Snake game. - <a href="https://github.com/hoboman313/snakey" target="_blank">Source</a>
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://github.com/hoboman313/snakey" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
        <div class="overlay"></div>
    </div>

    <div class="row vcenter">
        <div class="col-xs-2 hidden-xs">
            <a href="https://tictacweep.herokuapp.com" target="_blank">Tic Tac Weep</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="https://tictacweep.herokuapp.com" class="visible-xs project-title" target="_blank">Tic Tac Weep</a>
            A game of tic tac toe where the user is matched a CPU player and will never win. - <a href="https://github.com/hoboman313/tictacweep" target="_blank">Source</a>
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs" title="Node.js"></span></a>
            <a href="https://github.com/hoboman313/tictacweep" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>

    <div class="row vcenter">
        <div class="col-xs-2 hidden-xs">
            <a href="http://chat-random.herokuapp.com/" target="_blank">Chat Random</a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a href="http://chat-random.herokuapp.com/" class="visible-xs project-title" target="_blank">Chat Random</a>
            A simple, WebSocket based chat client. - <a href="https://github.com/hoboman313/chat-random" target="_blank">Source</a>
        </div>
        <div class="col-sm-6 col-xs-4">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs" title="Node.js"></span></a>
            <a href="https://github.com/hoboman313/chat-random" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>

  <div class="row vcenter">
    <div class="col-xs-2 hidden-xs">
      <a href="http://www.amxmodx.org/compiler.php?mod=1&cat=0&plugin=&author=hoboman&go=search" target="_blank">AMXX CS 1.6 Modding</a>
    </div>
    <div class="col-sm-4 col-xs-6">
      <a href="http://www.amxmodx.org/compiler.php?mod=1&cat=0&plugin=&author=hoboman&go=search" class="visible-xs project-title" target="_blank">AMXX CS 1.6 Modding</a>
      Wrote a number of semi-popular plugins for Counter Strike 1.6.
    </div>
    <div class="col-sm-6 col-xs-4">
      <a href="http://www.compuphase.com/pawn/pawn.htm" target="_blank"><span class="devicons devicons-code" title="PAWN"></span></a>
    </div>
  </div>
</div>