<div class="container">
    <div class="row">
        <div class="col-xs-3">
            Huegasm
        </div>
        <div class="col-xs-3">
            Web app
        </div>
        <div class="col-xs-6">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="http://sass-lang.com/" target="_blank"><span class="devicons devicons-sass" title="Sass"></span></a>
            <a href="http://getbootstrap.com/" target="_blank"><span class="devicons devicons-bootstrap" title="Bootstrap"></span></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API" target="_blank"><span class="devicons devicons-html5_multimedia" title="HTML 5 Multimedia"></span></a>
        </div>

    </div>
</div>