<div class="fluid-container" id="projects-page">
  <div class="highlighted-row">
    <div class="row vcenter">
      <div class="col-xs-2 hidden-xs">
        <a href="http://www.tomati.io/" target="_blank" class="project-title">Tomati</a>
      </div>

      <div class="col-sm-5 col-xs-8">
        <a href="http://www.tomati.io/" class="visible-xs project-desc" target="_blank">Tomati</a>
        A mobile app that aggregates health inspections reports with restaurant reviews.
      </div>

      <div class="col-sm-5 col-xs-4 text-center">
        <a href="https://facebook.github.io/react-native/" target="_blank"><span class="devicons devicons-react"
            title="React Native"></span></a>
        <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs"
            title="Node.js"></span></a>
        <a href="http://aws.amazon.com/" target="_blank"><span class="devicons devicons-aws" title="AWS"></span></a>
        <a href="https://play.google.com/store/apps/details?id=com.nidratech.tomati" target="_blank"><span
            class="devicons devicons-android" title="Huegasm on the Google Play Store"></span></a>
      </div>
    </div>

    <div class="store-badges">
      <a href="https://play.google.com/store/apps/details?id=com.nidratech.tomati" class="play-store-icon"
        target="_blank" rel="noopener noreferrer">
        <img src="images/android-play-badge.png" title="Android app">
      </a>

      <a href="https://itunes.apple.com/us/app/tomati-restaurant-inspector/id1440846554" class="app-store-icon"
        target="_blank" rel="noopener noreferrer">
        <img src="images/app-store-badge.svg" alt="iOS app">
      </a>
    </div>

    <div class="project-screens">
      <div class="col-sm-4">
        <img src="images/tomati-1.jpg" alt="Tomati screenshot #1">
      </div>

      <div class="col-sm-4">
        <img src="images/tomati-4.jpg" alt="Tomati screenshot #2">
      </div>

      <div class="col-sm-4">
        <img src="images/tomati-2.jpg" alt="Tomati screenshot #3">
      </div>
    </div>
  </div>

  <div class="highlighted-row">
    <div class="row vcenter">
      <div class="col-xs-2 hidden-xs">
        <a href="http://www.huegasm.com/" target="_blank" class="project-title">Huegasm</a>
      </div>

      <div class="col-sm-5 col-xs-8">
        <a href="http://www.huegasm.com/" class="visible-xs project-desc" target="_blank">Huegasm</a>
        <p>An app for managing and synchronizing your music with your Philips Hue lights.</p>
      </div>

      <div class="col-sm-5 col-xs-4 text-center">
        <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
        <a href="http://getbootstrap.com/" target="_blank"><span class="devicons devicons-bootstrap"
            title="Bootstrap"></span></a>
        <a href="https://play.google.com/store/apps/details?id=com.hoboman313.huegasm" target="_blank"><span
            class="devicons devicons-android" title="Huegasm on the Google Play Store"></span></a>
        <a href="https://itunes.apple.com/us/app/huegasm-for-philips-hue-lights/id1403108485" target="_blank"><span
            class="devicons devicons-apple" title="Huegasm on the App Store"></span></a>
        <a href="https://github.com/lone-cloud/huegasm" target="_blank"><span class="devicons devicons-github_badge"
            title="Source on Github"></span></a>
      </div>
    </div>

    <div class="store-badges">
      <a href="https://chrome.google.com/webstore/detail/huegasm-for-philips-hue-l/mbjanbdhcpohhfecjgbdpcfhnnbofooj"
        class="chrome-store-icon" target="_blank" rel="noopener noreferrer">
        <img src="images/chrome-store-badge.png" title="Chrome extension">
      </a>
    </div>

    <div class="project-screens">
      <div class="col-sm-4 col-xs-12">
        <img src="images/huegasm-1.jpg" alt="Huegasm screenshot #1">
      </div>

      <div class="col-sm-4 col-xs-12">
        <img src="images/huegasm-2.jpg" alt="Huegasm screenshot #2">
      </div>

      <div class="col-sm-4 col-xs-12">
        <img src="images/huegasm-3.jpg" alt="Huegasm screenshot #3">
      </div>
    </div>
  </div>

  <div class="highlighted-row row vcenter">
    <div class="col-xs-2 hidden-xs">
      <a href="https://lone-cloud.github.io/snakey" target="_blank" class="project-title">Snakey</a>
    </div>

    <div class="col-sm-5 col-xs-8">
      <a href="https://lone-cloud.github.io/snakey" class="visible-xs project-desc" target="_blank">Snakey</a>
      A pure HTML/Javascript recreation of the old school Snake game.
    </div>

    <div class="col-sm-5 col-xs-4 text-center">
      <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
      <a href="https://github.com/lone-cloud/snakey" target="_blank"><span class="devicons devicons-github_badge"
          title="Source on Github"></span></a>
    </div>
    <div class="overlay"></div>
  </div>

  <div class="highlighted-row row vcenter">
    <div class="col-xs-2 hidden-xs">
      <a href="https://tictacweep.herokuapp.com" target="_blank" class="project-title">Tic Tac Weep</a>
    </div>

    <div class="col-sm-5 col-xs-8">
      <a href="https://tictacweep.herokuapp.com" class="visible-xs project-desc" target="_blank">Tic Tac Weep</a>
      A game of tic tac toe where the user is matched a CPU player and will never win.
    </div>

    <div class="col-sm-5 col-xs-4 text-center">
      <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
      <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs"
          title="Node.js"></span></a>
      <a href="https://github.com/lone-cloud/tictacweep" target="_blank"><span class="devicons devicons-github_badge"
          title="Source on Github"></span></a>
    </div>
  </div>

  <div class="highlighted-row row vcenter">
    <div class="col-xs-2 hidden-xs">
      <a href="http://chat-random.herokuapp.com/" target="_blank" class="project-title">Chat Random</a>
    </div>

    <div class="col-sm-5 col-xs-8">
      <a href="http://chat-random.herokuapp.com/" class="visible-xs project-desc" target="_blank">Chat Random</a>
      A simple, WebSocket based chat client.
    </div>

    <div class="col-sm-5 col-xs-4 text-center">
      <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
      <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs"
          title="Node.js"></span></a>
      <a href="https://github.com/lone-cloud/chat-random" target="_blank"><span class="devicons devicons-github_badge"
          title="Source on Github"></span></a>
    </div>
  </div>

  <div class="highlighted-row row vcenter">
    <div class="col-xs-2 hidden-xs">
      <a href="http://www.amxmodx.org/compiler.php?mod=1&cat=0&plugin=&author=hoboman&go=search" target="_blank"
        class="project-title">
        AMXX CS 1.6 Modding
      </a>
    </div>

    <div class="col-sm-5 col-xs-8">
      <a href="http://www.amxmodx.org/compiler.php?mod=1&cat=0&plugin=&author=hoboman&go=search"
        class="visible-xs project-desc" target="_blank">AMXX CS 1.6 Modding</a>
      Wrote a number of plugins for Counter Strike 1.6.
    </div>

    <div class="col-sm-5 col-xs-4 text-center">
      <a href="http://www.compuphase.com/pawn/pawn.htm" target="_blank"><span class="devicons devicons-code"
          title="PAWN"></span></a>
    </div>
  </div>
</div>