<div class="container" id="projects-page">
    <div class="row">
        <div class="col-xs-2 project-link">
            <a href="http://www.huegasm.com/" target="_blank">Huegasm</a>
        </div>
        <div class="col-xs-4">
            A web app for synchronizing the music with the user's Philips Hue Lights.
        </div>
        <div class="col-xs-6">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="http://sass-lang.com/" target="_blank"><span class="devicons devicons-sass" title="Sass"></span></a>
            <a href="http://getbootstrap.com/" target="_blank"><span class="devicons devicons-bootstrap" title="Bootstrap"></span></a>
            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API" target="_blank"><span class="devicons devicons-html5_multimedia" title="HTML 5 Multimedia"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 project-link">
            <a href="https://hoboman313.github.io/snakey" target="_blank">Snakey</a>
        </div>
        <div class="col-xs-4">
            A pure HTML/Javascript recreation of the old school Snake game.
        </div>
        <div class="col-xs-6">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://github.com/hoboman313/snakey" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 project-link">
            <a href="https://tictacweep.herokuapp.com">Tic Tac Weep</a>
        </div>
        <div class="col-xs-4">
            A game of tic tac toe where the user is matched a CPU player and will never win.
        </div>
        <div class="col-xs-6">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs" title="NodeJS"></span></a>
            <a href="https://github.com/hoboman313/tictacweep" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 project-link">
            <a href="http://chat-random.herokuapp.com/" target="_blank">Chat Random</a>
        </div>
        <div class="col-xs-4">
            A simple, WebSocket based chat client.
        </div>
        <div class="col-xs-6">
            <a href="http://emberjs.com/" target="_blank"><span class="devicons devicons-ember" title="Ember"></span></a>
            <a href="https://nodejs.org/en/" target="_blank"><span class="devicons devicons-nodejs" title="NodeJS"></span></a>
            <a href="https://github.com/hoboman313/chat-random" target="_blank"><span class="devicons devicons-github_badge" title="Source on Github"></span></a>
        </div>
    </div>
</div>